/.ipynb_checkpoints
/01_arrange_raw_data.ipynb
/02_eda.ipynb
/02_eda.py
/02_eda.py.code-workspace
/02_eda_crane.ipynb
/02_eda_crane.py
/03_train_predict_without_text.ipynb
/03_train_predict_without_text.py
/10_RecieveFromPLC.py
/OpenCV
/Untitled.ipynb
/Untitled1.ipynb
/Untitled2.ipynb
/Untitled3.ipynb
/ZW80S_test_11.jpg
/ZW80S_test_12.jpg
/ZW80S_test_13.jpg
/ZW80S_test_14.jpg
/ZW80S_test_15.jpg
/ZW80S_test_pic20.jpg
/ZW80S_test_pic23.jpg
/ZW80_test_16.jpg
/ZW80_test_17.jpg
/ZW80_test_18.jpg
/ZW80_test_19.jpg
/ZW80_test_20.jpg
/data
/db_test.py
/hcmwt-frontend
/hcmwt-frontend-fork-connect
/hcmwt-frontend-forklift
/hcmwt-frontend-irep
/hcmwt-frontend-irep-bline
/hcmwt-frontend-irep-infra
/hcmwt-frontend-irep-minato-chyou-oogata
/hcmwt-frontend-irep-minato-oogata
/hcmwt-frontend-irep-minato-seikan
/hcmwt-frontend-irep-naka-axle
/hcmwt-frontend-irep-ryu-kumitate
/hcmwt-frontend-irep-ryu-seiban
/hcmwt-frontend-irep-ryu-seikan
/hcmwt-frontend-irep-seikan
/hcmwt-frontend-irep-toso
/hcmwt-frontend-minato-niuke
/hcmwt-frontend-naka
/hcmwt-frontend-oowada
/hcmwt-frontend-senkairin
/hcmwt-frontend-senkairin-syukka
/hcmwt-frontend-simple
/hcmwt-frontend-torque
/hcmwt-frontend-training
/hcmwt-frontend-tsuchi-densei
/hcmwt-frontend-tsuchi-yuki
/hcmwt-frontend-yuki
/image
/log20210608115818.txt
/log20210608115842.txt
/log20210608115852.txt
/log20210608120101.txt
/nb_image
/seikan_2test.py
/seikan_test2.ipynb
/test.pdf
/test.png
/突発修理回数.csv